@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: "IBM Plex Sans", sans-serif;

  @apply text-white leading-none;
}

.aspects-section {
  @apply bg-purple-2 bg-no-repeat bg-cover lg:!py-[180px];

  background-image: url("/images/aspects-bg.png");
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}