.wrapper {
    @apply flex flex-col;
}

.bg {
    background-image: url("/images/banner-mob.jpg");
    @apply bg-no-repeat bg-cover bg-right min-h-[75vh] lg:h-screen rounded-b-3xl z-20 flex flex-col;
}

.footer {
    @apply flex items-center justify-between gap-2 mt-10 lg:mt-0 lg:flex-col lg:items-start;
}

.footerText {
    @apply text-base;
}

.footerPrice {
    @apply text-2xl lg:text-[32px] lg:leading-[40px] font-bold;
    background: linear-gradient(180deg, #29ffb2 0%, #1ceef9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottomBlock {
    background: linear-gradient(180deg, #29ffb2 0%, #1ceef9 100%);
    @apply rounded-b-3xl pt-[calc(32px+22px)] pb-10 px-4 flex flex-col gap-5 -mt-[22px] z-10 text-2xl font-medium;
}

.bottomBlock p {
    @apply text-base-content-100;
}

@media(min-width: 1024px) {
    .bg {
        background-image: url("/images/banner.jpg");
        @apply bg-center;
    }
}